.Blue {
    color:blue;
}

.Purple {
    color:purple;
}

.Green {
    color:green;
}

.Red {
    color:red;
}

.Yellow {
    color:Yellow;
}


.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.Lato {
    font-family: 'Lato', sans-serif;
}

.Noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.Open {
    font-family: 'Open Sans', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}